.container-summary {
  width: 25%;
  height: 100vh;
  float: left;
  background-color: rgb(0, 204, 255);
  h1 {
    font-size: 1.2em;
    padding: 10px;
  }

  .summary {
    padding-left: 20px;
    .link-router {
      display: flex;
      padding: 5px;
      text-decoration: none;
      color: #000000;
    }
  }
}

.show {
  margin: 0;
  float: right;
  width: 75%;
  text-align: center;
}

.skills {
  li {
    padding: 10px;
    list-style: none;
    display: inline-block;
  }
}

.check-box {
  padding: 10px;
  text-align: left;
}

.error {
  float: right;
}
