.container-summary {
  width: 20%;
  height: 100vh;
  float: left;
  background-color: aqua;
}

.show {
  float: right;
  width: 80%;
  text-align: center;
}

.skills > li {
  padding: 10px;
  list-style: none;
  display: inline-block;
}

.check-box {
  padding: 10px;
  text-align: left;
}
