.container-summary {
  width: 25%;
  height: 100vh;
  float: left;
  background-color: #002b36;
  h1 {
    font-size: 1.2em;
    padding: 10px;
    color: #aeb1b0;
    font-weight: 300;
  }
  .summary {
    padding-left: 20px;
    a {
      display: flex;
      padding: 5px;
      text-decoration: none;
      color: #aeb1b0;
      &:hover {
        color: #19f9d7e3;
      }
    }
    .active {
      color: #19f9d7e3;
    }
    .components {
      margin-left: 15px;
      padding: 10px;
    }
  }
}

.show {
  margin: 0;
  float: right;
  width: 75%;
  text-align: center;
}

.skills {
  li {
    padding: 10px;
    list-style: none;
    display: inline-block;
  }
}

.check-box {
  padding: 10px;
  text-align: left;
}

.error {
  float: right;
}
